body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h1 span{
    color: rgb(246, 122, 14);
}
h3 span{
    color: orange;
}
.flexibal-container{
    display: flex;
    margin-bottom: 150px;
}
.Half-width{
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}
.Half-width img{
    width: 70%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(248, 240, 240);
    font-weight: 700;
    font-size: 20px;

}
.top-banner{
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
}
.Resume{
    background-image: linear-gradient(orange,tomato);
    padding: 15px 60px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.Dream-big{
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-right: 10px;
    
    
}
#size{
    background-size: 200px;
}
.exprience-area{
    background-image: url(photo/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exprience-title{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    box-shadow: 10px 20px 10px gray;
    border-radius: 5px;

}
#exprince-border{
border-left: 10px solid;
border-image: linear-gradient(orange,rgb(88, 196, 15));
border-image-slice: 1;
}
#exprince-developer{
    border-left: 10px solid;
border-image: linear-gradient(rgb(25, 21, 250),rgb(15, 196, 196));
border-image-slice: 1;
}
footer p{
    text-align: center;
    color: rgb(23, 54, 54);
}